@charset "UTF-8";
/* BODY */
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 0.7em; }
/* header .content { padding: 10px 16px; position: fixed; } */
header .content { padding: 1rem 1.5rem;}
main { padding-top: 30px; }
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
footer { padding: 0; font-style: italic;  }
h1 img { width: 32px; height: 32px;}
h1 { display: block;
    font-size: 3em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* MENU */
ul { margin: 0; padding: 0; list-style: none; width: 400px; }
ul li { position: relative; border-radius: 10px 10px 10px 10px; }
li ul { position: absolute; left: 399px; top: 0; display: none;  }
.li-menu,ul li ul li a { display: block; text-decoration: none; padding: 5px; border-radius: 10px 10px 10px 10px; font-weight: none;}
li:hover ul { display: block;   }
ul li ul li a:hover{ text-decoration:underline; font-weight: bold; }

/* TABLES */
td:first-child {white-space:nowrap}
.w3-table{border-collapse:separate;border-spacing:0;width:98%;display:table;border-radius:10px;}
.w3-table td,.w3-table th{padding:8px 8px;border: 1px solid;display:table-cell;text-align:left;vertical-align:top}
.w3-table td:first-child{padding-left:8px}
.w3-table th,.w3-table .total {white-space: normal; padding-left: .5em; font-weight: bold; font-size: 1em; font-style: oblique;}
thead:first-child tr:first-child th:first-child { border-radius: 10px 0 0 0; }
thead:first-child tr:first-child th:last-child { border-radius: 0 10px 0 0; }
tfoot:last-child tr:last-child td:first-child { border-radius: 0 0 0 10px; }
tfoot:last-child tr:last-child td:last-child { border-radius: 0 0 10px 0; }

/* COLORS */
.theme-red body {background: #fff; color: #000;}
.theme-red .w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important;}
.theme-red .w3-codespan{color:crimson;background-color:#f1f1f1;}
.theme-red .li-menu,ul li a { color: #E2144A; background: #fff; border: 1px solid rgb(238, 159, 159); }
.theme-red .li-menu:hover,ul li a:hover{ background: rgb(238, 159, 159); }
.theme-red .w3-h2 {color:rgb(190, 78, 78)}
.theme-red .w3-table th,.theme-red .total {color:#fff; background: rgb(190, 78, 78); }
.theme-light td,.theme-light tr,.theme-light th {border:1px solid  #c0c0c0;}
.theme-red footer { color: #666; }

.theme-light body {background: #fff; color: #000;}
.theme-light .w3-border-red,.w3-hover-border-red:hover{border-color:MediumSlateBlue!important;}
.theme-light .w3-codespan{color:MediumSlateBlue;background-color:#f1f1f1;}
.theme-light .li-menu,ul li a { color: MediumSlateBlue; background: #fff; border: 1px solid #bdc5ee; }
.theme-light .li-menu:hover,ul li a:hover{ background: #bdc5ee; }
.theme-light .w3-h2 {color:MediumSlateBlue}
.theme-light .w3-table th,.theme-light .total {color:#fff; background: MediumSlateBlue;}
.theme-light td,.theme-light tr,.theme-light th {border:1px solid  #c0c0c0;}
.theme-light footer { color: #666;  }
.theme-light footer .content { border-top: 1px solid MediumSlateBlue; }
